# Dataset
/data/

# MLflow runs and artifacts
/mlflow_runs/

# Model files
/best_fruit_model_resnet50v2.h5
/models/

# DVC local config
.dvc/config.local

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log
