name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-and-log:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install "dvc[gdrive]" mlflow tensorflow

    - name: Save service account JSON to file
      env:
        GDRIVE_SERVICE_ACCOUNT_JSON: ${{ secrets.GDRIVE_SA_JSON }}
      run: |
        echo "$GDRIVE_SERVICE_ACCOUNT_JSON" > gdrive_sa.json

    - name: Configure DVC remote with service account
      run: |
        dvc remote add -f myremote gdrive://1_eJKfLMOIfnIKQ84QyGFlDBuyU7yXvDB
        dvc remote modify myremote gdrive_use_service_account true
        dvc remote modify myremote gdrive_service_account_json_file_path gdrive_sa.json
        dvc config core.remote myremote

    - name: Pull DVC data
      run: dvc pull -r myremote

    - name: Run training script
      run: python CICD_fruit_classification_model.py
